<% layout("/layouts/boilerplate")%>

        <div class="row mt-3">
            <div class="col-8 offset-2">
                <form method="POST" action="/listing/<%= Listing._id %>?_method=PUT" novalidate
                    class="needs-validation">
                    <h3>Edit Listing Details</h3>
                    <div class="mb-3">
                        
                        <label for="title" class="form-label">Title:</label>
                        <input type="text" id="title" name="Listing[title]" value="<%= Listing.title %>" class="form-control" required>
                        <div class="invalid-feedback">
                            Please provide a Title.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description:</label>
                        <textarea id="description" name="Listing[description]" class="form-control" required><%= Listing.description %></textarea>
                            
                        <div class="invalid-feedback">
                            Please provide a short description.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-label">Image URL:</label>
                        <input type="text" id="image" name="Listing[image]" value="<%= Listing.image.url %>"
                            class="form-control">
                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label"> Price:</label>
                            <input id="price" name="Listing[price]" value="<%= Listing.price %>" class="form-control"
                                required>
                            <div class="invalid-feedback">
                                Please provide a price.
                            </div>
                        </div>

                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country:</label>
                            <input type="text" id="country" name="Listing[country]" value="<%= Listing.country %>"
                                class="form-control" required>
                            <div class="invalid-feedback">
                                country is needed.
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="location" class="form-label">Location:</label>
                        <input type="text" id="location" name="Listing[location]" value="<%= Listing.location %>"
                            class="form-control" required>
                        <div class="invalid-feedback">
                            location is needed.
                        </div>
                    </div>

                    <button type="submit" class="btn btn-dark edit-btn mt-3">Edit</button>
                </form>
            </div>
        </div>
        