<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <ul>
        <h4><li><%=Listing.title%></li></h4>
        <h4><li><%=Listing.description%></li></h4>
        <h4><li><%=Listing.price%></li></h4>
        <h4><li><%=Listing.location%></li></h4>
        <h4><li><%=Listing.country%></li></h4>
    </ul>
</body>
</html>