<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <h3>Listing Details</h3>
    <ul>
        <li><strong>Title:</strong> <%= Listing.title %></li>
        <li><strong>Description:</strong> <%= Listing.description %></li>
        <li><strong>Price:</strong> &#8377;<%= Listing.price.toLocaleString("en-IN") %></li>
        <li><strong>Location:</strong> <%= Listing.location %></li>
        <li><strong>Country:</strong> <%= Listing.country %></li>
        
    </ul>
    
       <a href="/listing/<%=Listing._id%>/edit">Edit Listing</a>
       <br><br>
        <form method="POST" action="/listing/<%= Listing._id %>">
            <button>Delete listing</button>
        </form>
    
</body>
</html>
